
<form class="example-form">
    <div class="parent" fxLayout="row" >   
        <div fxFlex class="left">
     <h1>Business Details</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter the Branch name" name="Name" [(ngModel)]="Name">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Phone No. </mat-label>
      <input matInput placeholder="Enter the Contact no..." name="Contact" [(ngModel)]="Contact">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>ALt Phone No. </mat-label>
        <input matInput placeholder="Enter the Contact no..." name="AltContact" [(ngModel)]="AltContact">
      </mat-form-field>
        </div>
        
        <div fxFlex class="right">
            <h1> </h1>
        <mat-form-field class="example-full-width">
         <mat-label>Email</mat-label>
         <input matInput placeholder="Enter the Email..." name="email" [(ngModel)]="email">
        </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Website</mat-label>
        <input matInput placeholder="Enter the Website...." name="Website" [(ngModel)]="Website">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Logo</mat-label>
        <input matInput placeholder="Enter the Website...." name="logo" [(ngModel)]="logo">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>WeeklyHolyday</mat-label>
        <input matInput placeholder="Enter the Website...." name="WeeklyHolyday" [(ngModel)]="WeeklyHolyday">
      </mat-form-field>
    </div>
    </div>
    <div class="parent" fxLayout="row" >   
        <div fxFlex class="left">
      <h1>Address Details</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Door No.</mat-label>
        <textarea matInput placeholder="Enter the Door no."></textarea>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Street Name</mat-label>
        <textarea matInput placeholder="Enter the Street Name..."></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>Area</mat-label>
          <textarea matInput placeholder="Enter the Area..."></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <textarea matInput placeholder="Enter the City..."></textarea>
        </mat-form-field>
    </div>
    <div fxFlex class="right">
        <h1> </h1>
  <mat-form-field class="example-full-width">
    <mat-label>Landmark</mat-label>
    <textarea matInput placeholder="Enter the Landmark..."></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Pincode No.</mat-label>
    <textarea matInput placeholder="Enter the Pincode..."></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Latitude</mat-label>
    <textarea matInput placeholder="Enter the Latitude...."></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Longitude</mat-label>
    <textarea matInput placeholder="Enter the Longitude...."></textarea>
  </mat-form-field>
</div>
</div>
<mat-checkbox class="example-margin">same</mat-checkbox>
<div class="parent" fxLayout="row" >   
  <div fxFlex class="left">
<h1>Temporary Address Details</h1>
<mat-form-field class="example-full-width">
  <mat-label>Door No.</mat-label>
  <textarea matInput placeholder="Enter the Door no."></textarea>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Street Name</mat-label>
  <textarea matInput placeholder="Enter the Street Name..."></textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Area</mat-label>
    <textarea matInput placeholder="Enter the Area..."></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <textarea matInput placeholder="Enter the City..."></textarea>
  </mat-form-field>
</div>
<div fxFlex class="right">
  <h1> </h1>
<mat-form-field class="example-full-width">
<mat-label>Landmark</mat-label>
<textarea matInput placeholder="Enter the Landmark..."></textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
<mat-label>Pincode No.</mat-label>
<textarea matInput placeholder="Enter the Pincode..."></textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
<mat-label>Latitude</mat-label>
<textarea matInput placeholder="Enter the Latitude...."></textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
<mat-label>Longitude</mat-label>
<textarea matInput placeholder="Enter the Longitude...."></textarea>
</mat-form-field>
</div>
</div>
      <button mat-raised-button color="primary" (click)="addbus()"  routerLink="/businesslist">Submit</button>
      <button mat-raised-button color="warn" (click)="onCloseClick()">Close</button>
      
  </form>
