<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h2>Manage Staff Easily from your Desktop</h2>
            <div class="form-group">
                <label style="font-weight: 100;">User name</label>
                <input type="text" class="form-control" id="username">
                <label style="font-weight: 100;" >Password</label>
                <input type="text" class="form-control" id="pwd"><br>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
        </div>
        <div class="col-md-8">
            <img src="../../assets/image.png" alt="Girl in a jacket">
        </div>
    </div>
</div>
