
<mat-card>
    <h1>Slot Master list</h1>
<div id="wrapper">
    <div class="block">
        <mat-checkbox class="example-margin">A1</mat-checkbox>
    </div>
    <div class="block">  
        <mat-checkbox class="example-margin">A2</mat-checkbox>
    </div>
    <div class="block"> 
         <mat-checkbox class="example-margin">A3</mat-checkbox>
    </div>
    <div class="block">  
        <mat-checkbox class="example-margin">A4</mat-checkbox>
    </div>
    <div class="block">  
        <mat-checkbox class="example-margin">A5</mat-checkbox>
    </div>
    <div class="block">  
        <mat-checkbox class="example-margin">R1</mat-checkbox>
    </div>
    <div class="block">  
        <mat-checkbox class="example-margin">R2</mat-checkbox>
    </div>
    <div class="block">
          <mat-checkbox class="example-margin">R3</mat-checkbox>
        </div>
    <div class="block">  
        <mat-checkbox class="example-margin">R4</mat-checkbox>
    </div>
    <div class="block"> 
         <mat-checkbox class="example-margin">R5</mat-checkbox>
        </div>
    <div class="block">  
        <mat-checkbox class="example-margin">CB1</mat-checkbox>
    </div>
    <div class="block">  
        <mat-checkbox class="example-margin">CB2</mat-checkbox>
    </div>
    <div class="block">  
        <mat-checkbox class="example-margin">CB3</mat-checkbox>
    </div>
    <div class="block">
        <mat-checkbox class="example-margin">CB4</mat-checkbox>
    </div>
    <div class="block">
        <mat-checkbox class="example-margin">CB5</mat-checkbox>
    </div>
  </div>
  <button mat-raised-button color="primary">Submit</button>
  <br/>
  <br/>
  <br/>
  <br/>

  <br/>
  <br/>
  <br/>
  <br/>

  <br/>


</mat-card>