<mat-card>
    <mat-card-content>
<form class="example-form">
    <div class="parent" fxLayout="row" >   
        <div fxFlex class="left">
     <h1>Branch Details</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Branch Name</mat-label>
      <input matInput placeholder="Enter the Branch name">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Contact No. </mat-label>
      <input matInput placeholder="Enter the Contact no...">
    </mat-form-field>
        </div>
        
        <div fxFlex class="right">
            <h1> </h1>
        <mat-form-field class="example-full-width">
         <mat-label>Email</mat-label>
         <input matInput placeholder="Enter the Email...">
        </mat-form-field>
        <mat-form-field class="example-full-width fills" appearance="fill">
            <mat-label>Manager</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    </div>
    <div class="parent" fxLayout="row" >   
        <div fxFlex class="left">
      <h1>Address Details</h1>
      <mat-form-field class="example-full-width">
        <mat-label>Door No.</mat-label>
        <textarea matInput placeholder="Enter the Door no."></textarea>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Street Name</mat-label>
        <textarea matInput placeholder="Enter the Street Name..."></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>Area</mat-label>
          <textarea matInput placeholder="Enter the Area..."></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <textarea matInput placeholder="Enter the City..."></textarea>
        </mat-form-field>
    </div>
    <div fxFlex class="right">
        <h1> </h1>
  <mat-form-field class="example-full-width">
    <mat-label>Landmark</mat-label>
    <textarea matInput placeholder="Enter the Landmark..."></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Pincode No.</mat-label>
    <textarea matInput placeholder="Enter the Pincode..."></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Latitude</mat-label>
    <textarea matInput placeholder="Enter the Latitude...."></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Longitude</mat-label>
    <textarea matInput placeholder="Enter the Longitude...."></textarea>
  </mat-form-field>
</div>
</div>
<mat-checkbox class="example-margin">same</mat-checkbox>
<div class="parent" fxLayout="row" >   
  <div fxFlex class="left">
<h1>Temporary Address Details</h1>
<mat-form-field class="example-full-width">
  <mat-label>Door No.</mat-label>
  <textarea matInput placeholder="Enter the Door no."></textarea>
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Street Name</mat-label>
  <textarea matInput placeholder="Enter the Street Name..."></textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Area</mat-label>
    <textarea matInput placeholder="Enter the Area..."></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <textarea matInput placeholder="Enter the City..."></textarea>
  </mat-form-field>
</div>
<div fxFlex class="right">
  <h1> </h1>
<mat-form-field class="example-full-width">
<mat-label>Landmark</mat-label>
<textarea matInput placeholder="Enter the Landmark..."></textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
<mat-label>Pincode No.</mat-label>
<textarea matInput placeholder="Enter the Pincode..."></textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
<mat-label>Latitude</mat-label>
<textarea matInput placeholder="Enter the Latitude...."></textarea>
</mat-form-field>
<mat-form-field class="example-full-width">
<mat-label>Longitude</mat-label>
<textarea matInput placeholder="Enter the Longitude...."></textarea>
</mat-form-field>
</div>
</div>
      <button mat-raised-button color="primary"  routerLink="/emplist">Submit</button>
  </form>
</mat-card-content>
</mat-card>