
<form class="example-form">
           
     <h1>Department</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Code</mat-label>
      <input matInput placeholder="Enter the code...">
    </mat-form-field><br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter the name...">
    </mat-form-field>
       <br>     
    <br>
      <button mat-raised-button color="primary"  routerLink="/emplist">Submit</button>
      <button mat-raised-button color="warn" (click)="onCloseClick()">Close</button>
      
  </form>
 
