<!-- <p>datepicker works!</p>
<mat-form-field>
    <input matInput [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field><br>
<mat-form-field>
    <input matInput [matDatepicker]="toDatePicker">
    <mat-datepicker-toggle [for]="toDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #toDatePicker></mat-datepicker>
</mat-form-field> -->

<div class="content">
    <div fxLayout="row wrap">
        <div fxFlex="25%" *ngfor="let num of [1,2,3,4,5,6]">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Mountains {{num}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../assets/image.png">
                <mat-card-content>
                    <p>The responsive file in angular</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
   
</div>