<mat-form-field>
    <mat-label>Name of the item</mat-label>
    <input matInput [(ngModel)]="Name">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Mobile</mat-label>
    <input matInput [(ngModel)]="mobile">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>LoginName</mat-label>
    <input matInput [(ngModel)]="Loginname">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="Password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="type">
  </mat-form-field> 
  <br/>
  <button type="submit" mat-raised-button color="accent" (click)="item()">Add</button>