<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <h1 style="flex-grow: 1;" class="example-app-name">Logo</h1>
    <!-- <mat-icon>notification_important</mat-icon>&nbsp; -->
    <mat-icon>account_circle</mat-icon>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item>
				<span class="full-width" *ngIf="isExpanded || isShowing" routerLink='/emplist'>Employee</span>
				<mat-icon mat-list-icon routerLink='/emplist'>accessibility</mat-icon>
			</mat-list-item>
            <mat-list-item>
				<span class="full-width" *ngIf="isExpanded || isShowing">Slot & Room</span>
				<mat-icon mat-list-icon routerLink=''>room</mat-icon>
			</mat-list-item>
            <mat-list-item>
				<span class="full-width" *ngIf="isExpanded || isShowing">Attendance</span>
				<mat-icon mat-list-icon routerLink=''>work</mat-icon>
			</mat-list-item>
            <mat-list-item>
				<span class="full-width" *ngIf="isExpanded || isShowing">Salary Process</span>
				<mat-icon mat-list-icon routerLink=''>polymer</mat-icon>
			</mat-list-item>
            <mat-list-item>
				<span class="full-width" *ngIf="isExpanded || isShowing">Cash Book</span>
				<mat-icon mat-list-icon routerLink=''>description</mat-icon>
			</mat-list-item>
            <mat-list-item>
				<span class="full-width" *ngIf="isExpanded || isShowing">Support</span>
				<mat-icon mat-list-icon routerLink=''>contact_support</mat-icon>
			</mat-list-item>
            <mat-list-item>
				<span class="full-width" *ngIf="isExpanded || isShowing">Logout</span>
				<mat-icon mat-list-icon routerLink=''>remove_circle_outline</mat-icon>
			</mat-list-item>
</mat-nav-list>
<mat-nav-list>
</mat-nav-list>
    </mat-sidenav>
	<div class="content">
	<router-outlet></router-outlet> 
    <!-- Dashboard -->
</div>
</mat-sidenav-container>
<mat-toolbar color="primary" class="example-toolbar">
    <div class="container">
      <span>Footer</span>
    </div>
  </mat-toolbar>

