.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  hr {
    border-top: 6px solid blue;
    border-radius: 5px;
  }
  
  .left{
    flex: 1 0 100% !important;
  }
  .bt{
    border: none;
  }
  .right{
    flex: 1 0 100% !important;
    padding-top: 32.1px;
    padding-left: 17px;
  }
  button{
    margin-right: 20px;
  }
  .foot{
    position: fixed;
    bottom: 550px;
    width: 81%;
    left: 128px;
    right: 128px;
    margin-bottom: 12px;
  }
  footer{
    position: fixed;
    height: 50px;
    bottom: -11px;
    left: 128px;
    right: 128px;
    margin-bottom: 37px;
  }